<div>
  <div class="board-row">
    <app-square [index]="0">{{game.squares[0]}}</app-square>
    <app-square [index]="1">{{game.squares[1]}}</app-square>
    <app-square [index]="2">{{game.squares[2]}}</app-square>
  </div>
  <div class="board-row">
    <app-square [index]="3">{{game.squares[3]}}</app-square>
    <app-square [index]="4">{{game.squares[4]}}</app-square>
    <app-square [index]="5">{{game.squares[5]}}</app-square>
  </div>
  <div class="board-row">
    <app-square [index]="6">{{game.squares[6]}}</app-square>
    <app-square [index]="7">{{game.squares[7]}}</app-square>
    <app-square [index]="8">{{game.squares[8]}}</app-square>
  </div>
</div>